<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.dao.ArticleCatalogDao">



    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="ArticleCatalog">
        insert into articlecatalog(article_id,catalog_id) values(#{article_id},#{catalog_id});
    </insert>

    <insert id="batchSave" useGeneratedKeys="true" parameterType="java.util.List">
        insert into articlecatalog (article_id,catalog_id)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.article_id},#{item.catalog_id})
        </foreach>
    </insert>


    <delete id="delete">
        delete from articlecatalog where id=#{0}
    </delete>

    <delete id="deleteByCatalog">
        delete from articlecatalog where catalog_id=#{0}
    </delete>

    <delete id="deleteByArticle">
        delete from articlecatalog where article_id=#{0}
    </delete>







</mapper>