<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.dao.CatalogDao">



    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="Catalog">
        insert into catalog(name,alias_name,create_time,lastmodifytime) values(#{name},#{alias_name},#{create_time},#{lastmodifytime});
    </insert>

    <select id="fetch" resultType="Catalog">
        select * from catalog;
    </select>


    <delete id="delete">
        delete from catalog where id=#{0};
    </delete>

    <update id="update" >
        update catalog set name=#{name} where id=#{id};
    </update>


    <select id="finByALiasName" resultType="Catalog">
        select * from catalog where alias_name = #{0};
    </select>


</mapper>