
<div class="mail-box-header">
    <div class="pull-right tooltip-demo">
        <a   href="templates/article_createMark.html"  target="_blank" class="btn btn-white btn-sm"  title="MarkDown编辑"><i class="fa fa-pencil"></i> MarkDown编辑</a>
    </div>
    <h2>
        博客编辑
    </h2>
</div>
<div class="mail-box">
    <div class="mail-body">
        <form class="form-horizontal" >
            <div class="form-group">
                <label class="col-sm-1 control-label">标题</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value=""  id="title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">分类</label>
                <div class="col-sm-8">
                    <label ng-repeat="catalog in catalogs" style="padding-left:8px">
                        <input  name="catalog" type="radio" value="{{catalog.id}}" />{{catalog.alias_name}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">标签</label>
                <div class="col-sm-8"  >
                    <label ng-repeat="tag in tags" style="padding-left:8px">
                        <input  name="tag" type="checkbox" value="{{tag.id}}" />{{tag.title}}
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div align="center">
        <textarea id="editor" name="editor" rows="30" style="width: 90%; display: none;" ></textarea>
    </div>

    <div class="mail-body text-right tooltip-demo">
        <a href="mailbox.html" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> 发布</a>
        <a href="mailbox.html" class="bbtn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> 放弃</a>
        <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> 存为草稿</a>
    </div>
    <div class="clearfix"></div>
</div>

<script src="js/plugin/jquery.min.js"></script>
<script src="js/plugin/bootstrap.min.js?v=3.3.6"></script>
<script src="js/content.min.js?v=1.0.0"></script>
<script src="js/plugin/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
<script type="text/javascript">
   $(function(){
       var plugins={
        Code:{c:'btnCode',t:'插入代码',h:1,e:function(){
            var _this=this;
            var htmlCode="<div>编程语言<select id='xheCodeType'>";
                htmlCode+="<option value='html'>HTML/XML</option>";
                htmlCode+="<option value='js'>Javascript</option>";
                htmlCode+="<option value='css'>CSS</option>";
                htmlCode+="<option value='php'>PHP</option>";
                htmlCode+="<option value='java'>Java</option>";
                htmlCode+="<option value='py'>Python</option>";
                htmlCode+="<option value='pl'>Perl</option>";
                htmlCode+="<option value='rb'>Ruby</option>";
                htmlCode+="<option value='cs'>C#</option>";
                htmlCode+="<option value='c'>C++/C</option>";
                htmlCode+="<option value='vb'>VB/ASP</option>";
                htmlCode+="<option value=''>其它</option>";
                htmlCode+="</select></div><div>";
                htmlCode+="<textarea id='xheCodeValue' wrap='soft' spellcheck='false' style='width:300px;height:100px;' />";
                htmlCode+="</div><div style='text-align:right;'><input type='button' id='xheSave' value='确定' /></div>";
            var jCode=$(htmlCode),jType=$('#xheCodeType',jCode),jValue=$('#xheCodeValue',jCode),jSave=$('#xheSave',jCode);
            jSave.click(function(){
                _this.loadBookmark();
                _this.pasteHTML('<pre class="brush: '+jType.val()+'">'+_this.domEncode(jValue.val())+'</pre> ');
                _this.hidePanel();
                return false;
            });
            _this.saveBookmark();
            _this.showDialog(jCode);
        }},

        };
        $('#editor').xheditor({
            plugins:plugins,//使用我们定义的插件
            loadCSS:'<style>pre{margin-left:2em;border-left:3px solid #CCC;padding:0 1em;}</style>',
        });
    })
</script>
