<!DOCTYPE html >
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>记忆、淡忘的博客</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <![endif]-->

</head>
<body ng-app="app">


<div class="ibody">
    <header>
        <h1>记忆、淡忘</h1>
        <h2>有些事会随着时间的冲刷而渐渐遗忘，可又有些事是刻骨铭心的，怎么也忘不掉，埋在记忆的深处....</h2>
        <div class="logo"><a href="/"></a></div>
        <nav id="topnav" ng-controller="navaCtroller">
            <a href="#index" ng-class="{'current': catalogName=='index'}" >首页</a>
            <a ng-repeat="catalog in catalogs" href="#/catalog/{{catalog.alias_name}}" ng-class="{'current': catalogName==catalog.alias_name}" >{{catalog.name}}</a>
            <a href="#/about"  ng-class="{'current': catalogName=='about'}">关于我</a>
        </nav>
    </header>
    <article ui-view></article>
    <aside >
        <div class="avatar"><a href="#/about"><span>关于我</span></a></div>
        <div class="topspaceinfo">
            <h1>虽千万人吾往矣</h1>
            <p>不怕万人阻挡，就怕自己投降....</p>
        </div>
        <div class="about_c">
            <p>网名：记忆、淡忘	</p>
            <p>职业：JAVA程序员 </p>
            <p>籍贯：山东-临沂</p>
            <p>电话：15653925855</p>
            <p>邮箱：电话：15653925855@163.com</p>
        </div>
        <div class="tj_news" >
            <h2><p class="tj_t1">最新文章</p></h2>
            <ul >
                <li ng-repeat='blog in latestBlogs'><a href="/">{{blog.title}}</a></li>
            </ul>
            <h2><p class="tj_t2">热门推荐</p></h2>
            <ul >
                <li ng-repeat='blog in hotBlogs'><a href="/">{{blog.title}}</a></li>
            </ul>
            <div class="links">
                <h2><p>友情链接</p></h2>
                <ul>
                    <li><a href="/">暂无其他友情链接</a></li>
                </ul>
            </div>
            <div class="copyright">
                <ul><p> Design by <a href="/">lili1990</a></p><p>XICP备XXXXXX号-X@2016</p><p></p></ul>
            </div>
        </div>
    </aside>
</div>

</body>
<script src="../plugin/angular-1.3.0/angular.min.js"></script>
<script src="../plugin/angular-1.3.0/angular-ui-router.min.js"></script>
<script src="../plugin/angular-1.3.0/angular-cookies.min.js"></script>
<script src="../plugin/jquery.1.11.2.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script src="js/service.js"></script>
</html>