


    <div class="banner">
        <ul class="texts">
            <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
            <p>最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
        </ul>
    </div>
    <div class="bloglist" >
        <h2>
            <p><span>置顶</span>文章</p>
        </h2>
        <div class="blogs" ng-repeat="blog in blogs">
            <h3><a href="#/article/{{blog.id}}" target="_blank">{{blog.title}}</a></h3>
            <figure>
                <img src="{{blog.cover_img}}">
            </figure>
            <ul>
                <p>
                    {{blog.description}}
                </p>
                <a href="#/article/{{blog.id}}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
            </ul>
            <p class="autor">
                <span>分类：【<a href="/">{{blog.catlog}}</a>】</span>
                <span>浏览（<a href="/">{{blog.click_count}}</a>）</span>
                <span>评论（<a href="/">{{blog.comment_count}}</a>）</span>
            </p>
            <div class="dateview">{{blog.lastModifyTime|date:'yyyy-MM-dd'}}</div>
        </div>
    </div>
